/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #121212;
  text-align: start;
  align-items: start;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: #fff;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar .logo img {
  height: 40px;
}

.navbar .menu {
  display: flex;
  list-style: none;
  color: #fff;
}

.navbar .menu ul {
  display: flex;
  list-style: none;
}

.navbar .menu ul li {
  margin-left: 20px;
}

.navbar .menu ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;

}

.navbar .menu ul li a:hover {
  color: grey;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger-menu span {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
}

/* Catálogo */
.catalogo {
  padding: 20px;
  text-align: center;
}

.filtros {
  margin-bottom: 20px;
}

.filtro-btn,
.buscador {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.buscador {
  width: 200px;
}

.articulos-container {
  display: grid;
  gap: 10px;
  margin-bottom: 20px;
}

.paginacion {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.paginacion button {
  padding: 10px 20px;
  border: none;
  background-color: #121212;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.paginacion button:hover {
  background-color: gray;
}

.card {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

.card img {
  width: 160px; /* Ajusta el ancho */
  height: auto; /* Mantiene la proporción */
  object-fit: cover; /* Opcional: ajusta cómo se muestra la imagen */
}

.card button {
  background-color: #121212;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Footer */
.footer {
  background-color: #121212;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: auto;
}

.footer .info-contacto,
.footer .politicas {
  margin-bottom: 10px;
}

.footer .redes-sociales img {
  width: 30px;
  margin: 0 10px;
  transition: transform 0.3s ease;
}

.footer .redes-sociales img:hover {
  transform: scale(1.2);
}

/* Diseño Responsivo */
@media (max-width: 768px) {
  .navbar .menu {
    display: none;
    flex-direction: column; /* Cambiar a columna para que se despliegue hacia abajo */
    background-color: #121212;
    position: absolute;
    top: 60px; /* Ajustar debajo del navbar */
    left: 0;
    width: 100%; /* Ocupa todo el ancho */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .navbar .menu ul {
    flex-direction: column; /* Asegurar que los elementos estén en columna */
    padding: 10px 0;
  }

  .navbar .menu ul li {
    margin:  20px 30px 10px 10px;
    text-align: end;
    align-items: end;
  }

  .hamburger-menu {
    display: flex;
  }

  .hamburger-menu.active + .menu {
    display: flex; /* Mostrar el menú cuando el menú hamburguesa está activo */
  }

  .articulos-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .articulos-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1025px) {
  .articulos-container {
    grid-template-columns: repeat(3, 1fr);
  }
}